<div class="game-screenplay">

  <div class="mooving-axes-section">

    <div class="top-axe-section">
    </div>
    <div class="right-axe-section">
    </div>
    <div class="bottom-axe-section">
    </div>
    <div class="left-axe-section">
    </div>

    <%= render "shared/mooving_axes" %>
  </div>


</div>
