<div class="left-panel d-flex flex-column">

    <div class="user-box-icon left">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#pilot-license">pilot license</button>

    </div>

    <div class="user-box-icon right">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#skills">skills</button>


    </div>

    <div class="user-box-icon">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#wallet">wallet</button>

    </div>

    <div class="user-box-icon">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#missions">missions</button>


    </div>

    <div class="user-box-icon">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#fleet">fleet</button>

    </div>

    <div class="user-box-icon">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#corporation">corporation</button>

    </div>

    <div class="user-box-icon">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#coalittion">coalittion</button>

    </div>

  </div>
