<div class="right-panel d-flex-column">

    <div class="chat-section">
      <div class="chat-container">
        <h4>Chat</h4>
      </div>
    </div>

    <div class="other-action-panel">

      <div class="user-box-icon">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#fitting">fitting</button>

      </div>

      <div class="user-box-icon">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cargo-hold">cargo hold</button>

      </div>

      <div class="user-box-icon">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#map">map</button>

      </div>

    </div>

    <div class="map-box-section">
      <div class="block">
        mini map
      </div>
    </div>

  </div>
